{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% trans '润滑油的小店' %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">{% trans '润滑油的小店' %}</a>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES_LIST %}
        {% get_language_info_list for LANGUAGES_LIST as langs %}
        <div class="languages">
            <p>{% trans "语言" %}:</p>
            <ul class="languages">
            {% for lang in langs %}
                <li>
                    <a href="/{{ lang.code }}/" {% if lang.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                    {{ lang.name_local }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    {% trans '购物车' %}:
                    <a href="{% url "cart:cart_detail" %}">
                    {% blocktrans with total_price=cart.get_total_price %}
                        {{ total_items }} 件商品, ¥ {{ total_price }}
                    {% endblocktrans %}
                    </a>
                {% else %}
                    {% trans '您的购物车是空的.' %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>